.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 20px 20px 20px;
}

.box > h2 {
    margin: 0px;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    padding: 5px;
    justify-content: center;
}


.errors {
    color: red;
    padding: 5px 0 5px 0;
    font-size: 14px;
    justify-content: center;
    margin: 0px;
    text-align: center;
    width: 328px;
}

#title {
    padding-bottom: 5px;
    font-size: 18px;
}


.modal-input {
    width: 326px;
    padding: 0px;
    background-color: rgb(177, 224, 238, 0.4);
    border: 1px solid black;
    border-radius: 4px;
}

.modal-button {
    width: 330px;
    height: 40px;
    margin: 20px 0px;
    padding: 0px;
    background-color: rgb(224, 52, 133);
    color: white;
    cursor: pointer;
}

.modal-button-no {
    width: 330px;
    height: 40px;
    margin: 20px 0px;
    padding: 0px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

.disabled-button {
    width: 330px;
    height: 40px;
    margin: 20px 0px;
    padding: 0px;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));;
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    cursor: auto;
}

#demo {
    width: 330px;
    height: 40px;
    background-color: grey;
    margin-bottom: 20px;
    cursor: pointer;
}
