.hidden {
    display: none
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    align-self: center;
    width: 95%;
    padding-left: 0px
}

#logo {
    width: fit-content;

}

#navlogo {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: rgb(15, 140, 179);
    text-decoration: none;
}
#title {
    font-size: 30px;
    padding: 0px;
    font-weight: bold;
}
img {
    height: 40px;
}

.nav-click {
    cursor: pointer;
    text-decoration: none;
    color: rgb(2, 9, 19)
}



#profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#log-sign {
    display: flex;
    gap: 20px;
}

.profile-dropdown {
    position: absolute;
    padding: 10px;
    right: 45px;
    top: 65px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 3%;
}

.fa-user-circle {
    color: red;
    font-size: 40px;
}

#profile-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

#prof-drop {
    border: none;
    color: gray;
    background-color: transparent;
    font-size: 20px;
}
